* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: #000;
  color: #fff;
}

.app {

}

@media screen and (min-width: 980px){
  .app-small {
    padding-left: 350px;
  }
}

@media screen and (max-width: 980px){
  .app {
    padding-left: 0;
  }
}